<%- include('header.ejs') %>
<!------------------------------------ Our Services---------------------------------------------------->

<section class="CustomServices">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mt-4">About Us </h1>
                <p>we Skyrocket your Business with Magic.</p>
            </div>
            <div class="col-6 mt-5">
                <div class="colors">

                </div>
            </div>
        </div>
        <h3 class="about_text my-3">here’s how we do it.</h3>

        <div class="row grid-container mt-5">

            <div class="col-4 pin_box">
                <img class="pin_img" src="img/pin.png" alt="">
                <h5>Preparation</h5>
                <div class="colors-1">

                </div>
                <br>
                <p>Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue.
                    Thankfully, custom SEO solutions can get you back on track by boosting your presence in search
                    engine results, so more people can find and visit your site.</p>
            </div>

            <div class="col-4 pin_box">
                <img class="pin_img" src="img/pin.png" alt="">
                <h5>Magic</h5>
                <div class="colors-1">

                </div>
                <br>
                <p>Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue.
                    Thankfully, custom SEO solutions can get you back on track by boosting your presence in search
                    engine results, so more people can find and visit your site.</p>
            </div>

            <div class="col-4 pin_box">
                <img class="pin_img" src="img/pin.png" alt="">
                <h5>Result</h5>
                <div class="colors-1">

                </div>
                <br>
                <p>Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue.
                    Thankfully, custom SEO solutions can get you back on track by boosting your presence in search
                    engine results, so more people can find and visit your site.</p>
            </div>

        </div>
        <div class="row mt-5 mb-3">

            <h2>Who Are We?</h2>
        </div>



        <div class="row right-about">
            <div class="col-6 right-side">
                <img class="custome_image" src="img/Rectangle 2128.png"
                    alt="">
                <!-- <img class="img-fluid mx-auto d-block mt-5 m-logo" src="https://magicads360.com/web/img/m-logo.png" alt=""> 
                <img class="img-fluid mx-auto d-block mt-5 magic_logo" src="https://magicads360.com/web/img/magic_logo.png" alt="">-->
            </div>
            <div class="col-6 p-5">
                <h4 class="our_story">Our Story</h4>
                <div class="colors-1">

                </div>
                <p class="mt-3">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be
                    used as a placeholder before final copy is available
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be
                    used as a placeholder before final copy is available</p>
            </div>

        </div>

        <div class="row right-about mt-5">
            
            <div class="col-6 p-5">
                <h4 class="our_story">Our Strength</h4>
                <div class="colors-1">

                </div>
                <p class="mt-3">Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue.
                    Thankfully, custom SEO solutions can get you back on track by boosting your presence in search
                    engine results, so more people can find and visit your site.Without consistent site traffic, you’re
                    missing out on valuable visitors, leads, and revenue. Thankfully, custom SEO solutions can get you
                    back on track by boosting your presence in search engine results, so more people can find and visit
                    your site.
                    Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue.
                    Thankfully, custom SEO solutions can get you back on track by boosting your presence in search
                    engine results, so more people can find and visit your site.</p>
            </div>
            <div class="col-6">
                <img class="custome_image mt-3" src="img/Mask group.png"
                    alt="">
                <!-- <img class="img-fluid mx-auto d-block mt-5 m-logo" src="https://magicads360.com/web/img/m-logo.png" alt=""> 
                <img class="img-fluid mx-auto d-block mt-5 magic_logo" src="https://magicads360.com/web/img/magic_logo.png" alt="">-->
            </div>

        </div>

        <div class="row right-about mt-5">
            <div class="col-6 right-side">
                <img class="custome_image" src="img/Rectangle 2128.png"
                    alt="">
                <!-- <img class="img-fluid mx-auto d-block mt-5 m-logo" src="https://magicads360.com/web/img/m-logo.png" alt=""> 
                <img class="img-fluid mx-auto d-block mt-5 magic_logo" src="https://magicads360.com/web/img/magic_logo.png" alt="">-->
            </div>
            <div class="col-6 p-5">
                <h4 class="our_story">Our CEO’s Message</h4>
                <div class="colors-1">

                </div>
                <p class="mt-3">Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue. Thankfully, custom SEO solutions can get you back on track by boosting your presence in search engine results, so more people can find and visit your site.Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue. Thankfully, custom SEO solutions can get you back on track by boosting your presence in search engine results, so more people can find and visit your site.
                    Without consistent site traffic, you’re missing out on valuable visitors, leads, and revenue. Thankfully, custom SEO solutions can get you back on track by boosting your presence in search engine results, so more people can find and visit your site.</p>
            </div>

        </div>



        <div class="custom__socialIcons">
            <ul class=" socialIcons ">
                <div class="custom__socialIcons">
                    <ul class=" socialIcons ">
                        <li><a href="https://www.linkedin.com/company/magicads360/"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/Magicads360"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/@magicads360"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/magic.ads.360/"><i
                                    class="fa-brands fa-square-instagram"></i></a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</section>




<%- include('footer.ejs') %>