<%- include('header.ejs') %>


<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <img src="img/blog.jpg" width="100%" height="100%" style="border-radius: 4px;" alt="">
        </div>
        <div class="col-md-8">
            <h2 class="mt-md-3">Heading of blog or news</h2>
            <p style="font-size: 18px;">by <span style="color:orange">admin</span> March 14, 2023</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro debitis minima explicabo distinctio, cum eligendi nulla labore atque odit ex temporibus ipsum velit quidem impedit rem illo assumenda? Hic dolore reprehenderit autem qui consectetur magni, ipsa ducimus laudantium iste voluptates tempore repellendus nobis natus inventore expedita quia. Vitae, molestias maiores.</p>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="img/blog.jpg" width="100%" height="100%" style="border-radius: 4px;" alt="">
        </div>
        <div class="col-md-8">
            <h2 class="mt-md-3">Heading of blog or news</h2>
            <p style="font-size: 18px;">by <span style="color:orange">admin</span> March 14, 2023</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro debitis minima explicabo distinctio, cum eligendi nulla labore atque odit ex temporibus ipsum velit quidem impedit rem illo assumenda? Hic dolore reprehenderit autem qui consectetur magni, ipsa ducimus laudantium iste voluptates tempore repellendus nobis natus inventore expedita quia. Vitae, molestias maiores.</p>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="img/blog.jpg" width="100%" height="100%" style="border-radius: 4px;" alt="">
        </div>
        <div class="col-md-8">
            <h2 class="mt-md-3">Heading of blog or news</h2>
            <p style="font-size: 18px;">by <span style="color:orange">admin</span> March 14, 2023</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro debitis minima explicabo distinctio, cum eligendi nulla labore atque odit ex temporibus ipsum velit quidem impedit rem illo assumenda? Hic dolore reprehenderit autem qui consectetur magni, ipsa ducimus laudantium iste voluptates tempore repellendus nobis natus inventore expedita quia. Vitae, molestias maiores.</p>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="img/blog.jpg" width="100%" height="100%" style="border-radius: 4px;" alt="">
        </div>
        <div class="col-md-8">
            <h2 class="mt-md-3">Heading of blog or news</h2>
            <p style="font-size: 18px;">by <span style="color:orange">admin</span> March 14, 2023</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro debitis minima explicabo distinctio, cum eligendi nulla labore atque odit ex temporibus ipsum velit quidem impedit rem illo assumenda? Hic dolore reprehenderit autem qui consectetur magni, ipsa ducimus laudantium iste voluptates tempore repellendus nobis natus inventore expedita quia. Vitae, molestias maiores.</p>
        </div>

    </div>
</div>


<%- include('footer.ejs') %>