<%- include('header.ejs') %>




    <div class="container mt-3">
        <div class="row">
            <div class="col-6 ">
                <h1 class="mt-4">Services </h1>
                <p>that we offer</p>
            </div>
            <div class="col-6 mt-5">
                <div class="colors">

                </div>
            </div>
        </div>


        <div class="accordion" id="accordionExample_0">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne0">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne0" aria-expanded="true" aria-controls="collapseOne0">
                        Organic Services
                    </button>
                </h2>

                <div id="collapseOne0" class="accordion-collapse collapse " aria-labelledby="headingOne0"
                    data-bs-parent="#accordionExample_0">
                    <div class="accordion-body">



                        <div class="row  left-acc-row">
                            <div class="col-6 service-col d-flex">
                                <a class="service-contact" href="/contact"> Contact Us
                                    <span class="arrow_mark"> &#x2192; </span></a>


                            </div>
                            <div class="col-6 p-5">
                                <h6>SEO services</h6>
                                <div class="colors-1">

                                </div>

                                <p class="mt-3">Our team of SEO experts has years of experience in the industry and is
                                    well-versed in the latest SEO best practices. We work closely with our
                                    clients to understand their unique needs and goals, and we tailor our
                                    services accordingly.
                                </p>
                                <a class="service-contact" style="margin-left: 0;" href="/seo-services">
                                    Read more <span class="arrow_mark"> &#x2192; </span></a>
                            </div>
                        </div>




                        <div class="row right-acc-row">

                            <div class="col-6 p-5 right-acc">
                                <h6>Enterprises SEO services</h6>
                                <div class="colors-1">
                                </div>
                                <p class="mt-3">With out consistent site traffic, you’re missing out on valuable
                                    visitors, leads, and revenue. Thankfully, custom SEO solutions can get you back on
                                    track by boosting your presence in search engine results, so more people can find
                                    and visit your site.</p>
                                <a class="service-contact" href="/seo-services" style="margin-left: 0px;"> Read more
                                    <span class="arrow_mark"> &#x2192; </span></a>
                            </div>
                            <div class="col-6  d-flex">
                                <a class="service-contact" href="/contact"> Contact Us
                                    <span class="arrow_mark"> &#x2192; </span></a>


                            </div>
                        </div>







                    </div>
                </div>
            </div>

        </div>

        <div class="accordion" id="accordionExample_1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        Social Media Services
                    </button>
                </h2>

                <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne1"
                    data-bs-parent="#accordionExample_1">
                    <div class="accordion-body">



                        <div class="row  left-acc-row">
                            <div class="col-6 service-col d-flex">
                                <a class="service-contact" href="/contact"> Contact Us
                                    <span class="arrow_mark"> &#x2192; </span></a>
                                <a class="service-contact" href="/social-media"> Read more
                                    <span class="arrow_mark"> &#x2192; </span></a>

                            </div>
                            <div class="col-6 p-5">
                                <h6>Social media advertising</h6>
                                <div class="colors-1">

                                </div>

                                <p>Revolutionize your social media marketing with MagicAds! Our team of experienced
                                    professionals is dedicated to helping you maximize your online reach and achieve
                                    your marketing objectives. With cutting-edge strategies and a finger on the pulse of
                                    the latest trends, we'll help you stay ahead of the competition and drive real
                                    results for your business. From comprehensive social media management to targeted
                                    advertising and influencer marketing campaigns, we've got you covered
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="accordion" id="accordionExample_2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        Digital Advertising
                    </button>
                </h2>

                <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne2"
                    data-bs-parent="#accordionExample_2">
                    <div class="accordion-body">

                        <div class="row  left-acc-row">
                            <div class="col-6 service-col d-flex">
                                <a class="service-contact" href="/contact"> Contact Us
                                    <span class="arrow_mark"> &#x2192; </span></a>
                                <a class="service-contact" href="/digital-services"> Read more
                                    <span class="arrow_mark"> &#x2192; </span></a>

                            </div>
                            <div class="col-6 p-5">
                                <h6> Digital Advertising</h6>
                                <div class="colors-1">

                                </div>

                                <p>We know that when it comes to promoting your business online, you want to work with a
                                    team that knows what they're doing. That's where we come in. At Magicads 360, we
                                    specialize in helping our clients increase their online visibility and reach their
                                    target audience through a variety of digital channels. Whether you need help with
                                    social media advertising, search engine optimization, or email marketing, we've got
                                    you covered.So don't wait any longer to start seeing results for your business.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="accordion" id="accordionExample_3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne3">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        Development
                    </button>
                </h2>

                <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne3"
                    data-bs-parent="#accordionExample_3">
                    <div class="accordion-body">




                    </div>
                </div>
            </div>

        </div>

        <div class="accordion" id="accordionExample_4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne4">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                        Interactive Design
                    </button>
                </h2>

                <div id="collapseOne4" class="accordion-collapse collapse " aria-labelledby="headingOne4"
                    data-bs-parent="#accordionExample_4">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>

        </div>

        <div class="accordion" id="accordionExample_5">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
                        Content Marketing
                    </button>
                </h2>

                <div id="collapseOne5" class="accordion-collapse collapse " aria-labelledby="headingOne5"
                    data-bs-parent="#accordionExample_5">
                    <div class="accordion-body">

                        <div class="row  left-acc-row">
                            <div class="col-6 service-col d-flex">
                                <a class="service-contact" href="/contact"> Contact Us
                                    <span class="arrow_mark"> &#x2192; </span></a>
                                <a class="service-contact" href="/content-services"> Read more
                                    <span class="arrow_mark"> &#x2192; </span></a>

                            </div>
                            <div class="col-6 p-5">
                                <h6> Content marketing</h6>
                                <div class="colors-1">

                                </div>

                                <p>Are you struggling to make an impact with your content? Look no further than
                                    MagicAds! Our team of experts offers the best content marketing services around.
                                    We'll work with you to create engaging content that resonates with your target
                                    audience. At MagicAds, we understand the importance of reaching your customers
                                    through multiple channels. Don't wait any longer to take your content to the next
                                    level.

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="custom__socialIcons">

            <ul class=" socialIcons ">
                <div class="custom__socialIcons">
                    <ul class=" socialIcons ">
                        <li><a href="https://www.linkedin.com/company/magicads360/"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/Magicads360"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/@magicads360"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/magic.ads.360/"><i
                                    class="fa-brands fa-square-instagram"></i></a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>




    <%- include('footer.ejs') %>